# Packages
*.egg
*.egg-info
.activate
__pycache__

# IDE settings
.idea
.DS_Store
.ipynb_checkpoints
.vscode

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

data/*
private_notebooks
mlruns/*